---
import './BlankPage.css';

export interface BlankPageProps {
    title: string;
    description?: string;
}

const props = Astro.props as BlankPageProps;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/rvemu/favicon.svg" />
        <link rel="icon" href="/rvemu/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{props.title}</title>
        {
            props.description && (
                <meta name="description" content={props.description} />
            )
        }
    </head>
    <body>
        <slot />
    </body>
</html>
